/* Retro desktop ocupa toda la pantalla del monitor */
.retro-desktop {
  position: absolute;
  inset: 0;            /* ocupa todo el área disponible */
  background: #008080; /* clásico turquesa Windows 95 */
  display: flex;
  flex-direction: column;
  z-index: 9999;
  font-family: "Tahoma", sans-serif;
}

/* Barra de tareas */
.taskbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3vh;
  background: #c0c0c0;
  border-top: 2px solid #808080;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

/* Botón inicio con efecto clásico */
.start-btn {
  display: flex;
  background: #c0c0c0;
  border: 2px outset #fff;
  padding: 0.1em 10px;
  font-weight: bold;
  cursor: pointer;
}


.retro-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.retro-link:visited {
  color: purple;
}
.icon-label {
  margin-top: 2px;
  font-size: 11px;
  text-align: center;
  font-family: "Tahoma", sans-serif;
  color: white;
  text-shadow: 1px 1px #000000; /* efecto retro */
  line-height: 1.2;
  cursor: pointer;
}
